.btn {
    color: #f0f8ff;
    background-color: #3535f7;
    max-width: 140px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}
.butbut {
    color: #f0f8ff;
    background-color: #3535f7;
    max-width: 140px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}