.block {
    background: rgb(201, 155, 111);
    width: 250px;
    height: 215px;
    padding: 1px 0 15px 15px;
    box-shadow: inset -1px -1px 10px #000;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;

}

.fon {
    background: rgb(216, 211, 211);
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    overflow: auto;
}